/* boxes! */

.box-title {
    font-size: 20pt !important;
    font-weight: 200 !important;
    padding: .5%;
}

.box.box-solid.box-danger>.box-header {
    color: var(--council-white);
    background: var(--council-blue);
}

.box.box-solid.box-danger>.box-header>.box-title {
    color: var(--council-white) !important;
    background: var(--council-blue);
}

.box.box-solid.box-danger {
    border-color: var(--council-blue);
}

.box.box-danger>.box-header {
    color: var(--council-blue);
    background: var(--council-white);
}

.box.box-danger {
    border-color: var(--council-blue);
}

.box.box-solid.box-primary>.box-header {
    color: var(--council-blue);
    background: var(--council-gray);
}

.box.box-solid.box-primary>.box-title {
    color: var(--council-white);
    font-size: 20pt;
    font-weight: 200;
}

.box.box-solid.box-primary {
    border-bottom-color: var(--council-blue);
    border-left-color: var(--council-blue);
    border-right-color: var(--council-blue);
    border-top-color: var(--council-blue);
}


/* warning box */

.box.box-solid.box-warning>.box-header {
    color: var(--color-blue-4);
    background-color: var(--background-blue-4);
}

.box.box-solid.box-warning {
    border-color: var(--council-blue);
}

.box.box-warning>.box-header {
    color: var(--color-blue-4);
    background-color: var(--background-blue-4);
}

.box.box-warning {
    border-color: var(--council-blue);
    border-top-left-radius: 3px;
    border-bottom-left-radius: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
}

.box-header .box-title,
.box-header>.fa,
.box-header>.glyphicon,
.box-header>.ion {
    text-transform: lowercase;
}

.box-title::first-letter {
    text-transform: capitalize;
}


/* radio button group */

.btn-group,
.btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 3%;
}

.btn.radiobtn.btn-default.active {
    background: var(--council-blue);
    color: white;
}

.btn.radiobtn {
    font-size: 2vh!important;
    height: 10vh;
    width: 20vh;
    font-family: Light, Helvetica, Tahoma, Geneva, "Arial Narrow", Arial, sans-serif;
}

.btn-group-container-sw {
    overflow: inherit;
}

.btn {
    height: 100%;
    white-space: normal;
}


/* modals! */

.modal-content {
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid var(--council-gray);
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    outline: 0;
    color: var(--council-black);
    text-align: center;
}

.modal-title {
    margin: 0;
    line-height: 1.42857143;
    font-size: 30px;
}

.modal-body {
    position: relative;
    padding: 15px;
    font-size: 24px;
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary,
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
    color: var(--color-blue-0);
    background: var(--background-blue-0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 1rem;
    margin-bottom: 0;
    margin-left: auto !important;
    margin-right: auto !important;
    /*margin-top: 0;*/
    /*margin-bottom: 1rem;*/
    font-weight: 300;
    color: var(--council-blue);
    font-family: Light, Helvetica, Tahoma, Geneva, "Arial Narrow", Arial, sans-serif;
    max-width: 1200px;
    width: auto;
}

ol,
ul,
li {
    margin: 0 auto;
    max-width: 1200px;
    width: auto;
}

h1 {
    font-size: 36pt;
    line-height: 1.2;
    letter-spacing: -.1rem;
}

h2 {
    font-size: 26pt;
    line-height: 1.25;
    letter-spacing: -.1rem;
}

h3 {
    font-size: 20pt;
    line-height: 1.3;
    letter-spacing: -.05rem;
}

h4 {
    font-size: 18pt;
    line-height: 1.35;
    letter-spacing: -.08rem;
}

h5 {
    font-size: 16pt;
    line-height: 1.3;
    letter-spacing: -.05rem;
}

h6 {
    font-size: 14pt;
    line-height: 1.6;
    letter-spacing: 0;
}

body {
    font-size: 13pt;
    line-height: 1.6;
    font-weight: 100;
    font-family: Roman, Helvetica, Tahoma, Geneva, Arial, sans-serif;
    background-color: var(--council-white);
    color: var(--council-black);
}

p {
    margin: 0 auto !important;
    /*0 10px;*/
    font-size: 13pt;
    max-width: 1200px;
    width: auto;
}

b,
strong {
    font-family: Medium !important;
    font-weight: 100 !important;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
    width: 99%;
}


.navbar-default {
    background-color: var(--council-gray);
    border-color: var(--council-gray);
    color: var(--council-blue);
    font-size: 16pt;
    text-transform: uppercase;
 /*   margin-left: auto;
    margin-right: auto;*/
        float:none;
  display: inline-block;
  justify-content: center;
  text-align: center; !important
    align-items: center !important;
    font-family: Bold-Condensed, "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
    height: 95px;
    width: 100%;
    padding-right: 0%;
    padding-left: 20%;
}

.navbar-brand {
    font-family: Bold-Condensed, "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
    color: var(--council-blue);
}

.navbar-default .navbar-nav>li>a {
    color: var(--council-blue);
    height: 95px;
    padding-top: 39.5px;
    padding-bottom: 39.5px;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: var(--council-blue);
    background-color: #d6d6d6;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: var(--council-blue);
    background-color: #d6d6d6;
    height: 95px;
}

.navbar-collapse {
    background-color: var(--council-gray) !important;
}

.nav-pills > li > a{
  margin: 1px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;  
    padding-right: 3px;
    color: var(--council-blue);
    cursor: default;
    background-color: var(--council-gray);
    border: 1px solid var(--council-white);
}

.nav-pills > li > a:focus,
.nav-pills > li > a:hover{
    color: var(--council-blue);
    cursor: default;
    background-color: var(--council-white);
    border: 1px solid var(--council-white);
}

.nav-pills > li > a:active{
    color: var(--council-blue);
    cursor: default;
    background-color: var(--council-blue);
    border: 1px solid var(--council-white);
}



.row {
    margin-right: 0px;
    margin-left: 0px;
}


.tab-content {
    min-width: 750px;
    max-width: 1200px;
    padding: 5px;
    width: 100%;
}

.custom-plot {
  max-width:1200px; 
  margin-left:auto; 
  margin-right:auto
}

.well {
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    margin-bottom: 20px;
    min-height: 20px;
    max-width: 1200px;
    padding: 20px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px transparent;
}

.leaflet-popup-content {
    margin: 13px 19px;
    line-height: 1.4;
    font-size: 150%;
}


